@import './partials/variables';

/* width */
::-webkit-scrollbar {
    width: 8px;
    background-color: #ae8652;
  }

  /* Track */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
  } */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8); 
  }

  